{% extends 'base.html' %}
{% block content %}
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                <p1> HELLO</p1>
{#                {% for flat in flats %}#}
{#                    <div class="single-products-catagory clearfix">#}
{#                    <a href="#">#}
{#                        <img src="{{ flat.image.url }}" alt="">#}
{##}
{#                        <!-- Hover Content -->#}
{#                        <div class="hover-content">#}
{#                            <div class="line"></div>#}
{#                            <p>From {{ flat.get_current_price }}</p>#}
{#                            <h4>{{ flat.address }}</h4>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                {% endfor %}#}


            </div>
        </div>
{% endblock %}